{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

  <div class="container">
  <p><h1>SVG Test</h1></p>
    <svg width="1000" height="1000">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
        <rect width="512" height="384" stroke-width="4" style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9"> </rect>
        <line x1="64" y1="0" x2="64" y2="384" style="stroke:rgb(255,0,0);stroke-width:2" />
    </svg>
  </div>


{% endblock %}
